/* Pingas Pongas Stylesheet */
body {
    margin: 0;
}

.centered-content {
    display: block;
    text-align: center;
}

.centered-content > textarea {
    display: inline-block;
    vertical-align: middle;
}
